@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100..900&display=swap');


:root {
  --color-black: #1c232b;
  --color-cream: #f2eae2;
  --color-green-500: #3d8168;
  --color-green-700: #1a4032;
  --color-grey: #6c7289;
  --color-white: #ffffff;
}

:root {
  --len-50: 0.25rem;
  --len-100: 0.5rem;
  --len-200: 1rem;
  --len-300: 1.5rem;
  --len-400: 2rem;
  --len-500: 2.5rem;
  --text-preset-1: 700 var(--len-400) / 1 'Fraunces', serif;
  --text-preset-2: 700 0.875rem / 1.1 'Montserrat', sans-serif;
  --text-preset-3: 500 0.875rem / 1.6 'Montserrat', sans-serif;
  --text-preset-4: 500 0.75rem / 1.2 'Montserrat', sans-serif;
  --text-preset-5: 500 0.8125rem / 1.2 'Montserrat', sans-serif;
}

/* css reset begins */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* css reset ends */

/* selector css */

body {
  background-color: var(--color-cream);
  color: var(--color-grey);
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  font: var(--text-preset-1);
  color: var(--color-black);
}



/* class css */

.attribution {
  display: none;
}

.card {
  background-color: var(--color-white);
  border-radius: var(--len-100);
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

.card img {
  border-radius: var(--len-100) 0 0 var(--len-100);
  content: url("../assets/images/image-product-desktop.jpg");
  min-width: 50%;
  object-fit: cover;
}

.content {
  padding: var(--len-400);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--len-400);
}

.content .title {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--len-300);
}

.content .category {
  font: var(--text-preset-4);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.content .description {
  font: var(--text-preset-3);
}

.content .price {
  font: var(--text-preset-1);
  color: var(--color-green-500);
}

.content .price {
  display: flex;
  gap: var(--len-200);
  place-items: center;
}

.content .old-price {
  color: var(--color-grey);
  font: var(--text-preset-5);
  text-decoration: line-through;
}

.content .add-to-cart {
  background-color: var(--color-green-500);
  border: none;
  border-radius: var(--len-100);
  color: var(--color-white);
  display: flex;
  gap: var(--len-100);
  height: 3.125rem;
  place-items: center;
  place-content: center;
  width: 100%;
}

.content .add-to-cart:hover {
  background-color: var(--color-green-700);
}

.content .add-to-cart span {
  content: url("../assets/images/icon-cart.svg");
}

.content .add-to-cart p {
  font: var(--text-preset-2);
}

/* media queries */

@media (min-width: 600px) {
  .card {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .card {
    flex-flow: column nowrap;
    width: 350px;
  }

  .card img {
    content: url("../assets/images/image-product-mobile.jpg");
    border-radius: var(--len-100) var(--len-100) 0 0;
    height: 342px;

  }

  .content {
    gap: var(--len-300);
  }
}